@import './css/bootstrap.less';
@import './css/syntax.less';


body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.container {
  padding-left: 18px;
  padding-right: 18px;
}

header {
  margin-bottom: 24px;
}

footer {
  color: @grayDark;
  border-top: 1px solid @grayLighter;
  font-size: @fontSizeSmall;
  padding: @paddingSmall;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

header #navigation {
    text-align: right;
}

header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

