<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta property="twitter:account_id" content="6510972"/>
    <title>Metaplasm: $title$</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="alternate" type="application/atom+xml" title="$feedTitle$" href="$feedUrl$"/>
    <link type="image/png" rel="icon" href="/images/favicon.png"/>
    <link type="text/css" rel="canonical" href="$root$/">
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Fjalla+One">
    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    $gMapsApiScript$
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <!--<form action="http://google.com/search" method="get" class="navbar-form navbar-right">
          <fieldset role="search">
            <input type="hidden" name="q" value="site:meta.plasm.us"/>
            <input type="text" name="q" results="0" placeholder="Search" class="span2"/>
          </fieldset>
        </form>-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 id="logo">
            <a href="/">
              <span class="left">meta</span><span class="center">plasm</span><span class="right">us</span>
            </a>
          </h1>        
        </div>
        <div class="collapse navbar-collapse" id="main-navbar-collapse">
          <ol class="nav navbar-nav navbar-right">
            <li><a href="https://twitter.com/travisbrown"><i class="fa fa-twitter fa-1x"></i></a></li>
            <li><a href="https://github.com/travisbrown"><i class="fa fa-github-alt fa-1x"></i></a></li>
            <li><a href="https://stackoverflow.com/users/334519/travis-brown"><i class="fa fa-stack-overflow fa-1x"></i></a></li>
            <li><a href="https://github.com/travisbrown/metaplasm"><i class="fa fa-code fa-1x"></i></a></li>
            <li><a href="/about/"><i class="fa fa-question fa-1x"></i></a></li>
            <li><a href="/atom.xml" rel="subscribe-rss" title="Subscribe via Atom"><i class="fa fa-rss fa-1x"></i></a></li>
          </ol>
        </div>
      </nav>

      <div id="content">
        $body$
      </div>

      <div class="social-share">
        <ul>
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="$root$$url$" data-text="$title$" data-via="travisbrown">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </li>
        </ul>
      </div>

      <footer role="contentinfo">
        <p>
          Copyright &copy; 2013 <a href="/about/">Travis Brown</a>
          <span class="credit">Powered by <a href="http://jaspervdj.be/hakyll/">Hakyll</a></span>
        </p>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script>
      var _gaq=[['_setAccount','$gaId$'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>

